<h1>IPAM Integration Dashboard</h1>

<% if @response['data'] && @response['data'].length > 0 %>
  <h2>phpIPAM</h2>
  <h3>Sections:</h3>
  <table class="<%= table_css_classes 'table-fixed' %>">
    <thead>
      <tr>
        <th class="col-md-2"><%= s_("Name") %></th>
        <th class="col-md-6"><%= s_("Description") %></th>
      </tr>
    </thead>
    <tbody>
      <% @response['data'].each do |section| %>
        <tr>
          <td class="ellipsis">
            <a href="#" onclick="getSubnets('<%= section['id'] %>', '<%= section['name'] %>')"><%= section['name'] %></a>
          </td>
          <td class="ellipsis">
            <%= section['description'] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning ">
    <span class="pficon pficon-warning-triangle-o "></span>
    <span class="text"><%= _("No sections found in External IPAM.") %></span>
  </div>
<% end %>

<div id="subnet_container"></div>

<script>
  function getSubnets(section_id, section_name) {
    var subnet_container = document.getElementById('subnet_container');
    subnet_container.innerHTML = '<h2>Subnets for ' + section_name + '</h2>';

    $.ajax({
      type: "GET", url: "/ipam/phpipam/subnets",
      data: {"section_name": encodeURI(section_name)},
      success: function(data) {
        if (data.message === 'No subnets found') 
          subnet_container.innerHTML += data.message;
        else 
          displaySubnets(data);
      }
    });
  }

  function displaySubnets(data) {
    var subnets = data;
    subnet_container.innerHTML += `
      <div class='col-md-2'><strong>Subnet</strong></div>
      <div class='col-md-6'><strong>Description</strong></strong></div><br />
    `;

    subnets['data'].forEach(function(item) {
      subnet_container.innerHTML += `
        <div class='col-md-2'>` + item['subnet'] + `/` + item['mask'] + `</div>
        <div class='col-md-6'>` + item['description'] + `</div><br />
      `;
    });
  }
</script>
